/* girl power color since it is october */
html {
  position: relative;
  min-height: 100%;
}
  
body {
  background-color:#262626;
  margin-bottom: 60px;
}
  
#wrap {
  background-color:#262626;
  color:#646464;
}
  
#header {
  background-color: black;
  background-image: url("../images/giphy.gif");
  /* background-repeat: no-repeat; */
  background-position: center;
  height: 100px;
}
  
#title {
  color: #ffffff;
  text-align:center;
  font-family: 'Shadows Into Light', cursive;
  padding-top: 30px;
}
  
#button-area{
  margin-top: 10px;
}

.btn-light {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Shadows Into Light', cursive;
  background: rgb(210, 119, 134);
}

.btn-light:hover {
  color: black;
}

.btn {
  margin: 3px;
}

#gif-area {
  margin-top: 20px;
}
  
.pinkBorder {
  border-radius: 5px;
  border: 2px solid rgb(232, 131, 148);
}
  
.submit {
  background-color: rgb(232, 131, 148);
  color:#ffffff;
  border:1px solid #646464;
}
  
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align:center;
  background-color: black;
}
  
.credits {
  font-family: 'Shadows Into Light', cursive;
  /* color: rgb(232, 131, 148); */
  color: #646464;
  font-size: .8em;
}

.clear {
  clear: both;
}
